*.tlog
*.obj
*.exe
*.manifest
*.pdb
*.ipch
*.idb
*.pch
*.cache
*.log
*.ilk
*.sdf
*.cd
*.lastbuildstate
win7/openLSNS.suo
win7/Debug/*
convertor/Debug/*
convertor/origin/*
doc/~$report.docx
*.zip
win7/openLSNS.opensdf
*.nns
