win7/Debug/cl.command.1.tlog
*.tlog
win7/Debug/console.obj
*.obj
win7/Debug/openLSNS.exe
*.manifest
win7/Debug/openLSNS.exe.embed.manifest.res
*.ilk
win7/Debug/openLSNS.lastbuildstate
*.log
win7/Debug/openLSNS.pdb
*.cache
win7/Debug/openLSNS_manifest.rc
*.idb
win7/Debug/vc100.pdb
*.ipch
win7/openLSNS.opensdf
*.sdf
win7/openLSNS.suo
*.cd
doc/~$report.docx