~*
*.cache
*.cd
*.exe
*.idb
*.ilk
*.ipch
*.lastbuildstate
*.log
*.manifest
*.nns
*.obj
*.pch
*.pdb
*.sdf
*.tlog
*.zip
convertor/Debug/*
convertor/origin/*
pugixml-1.6/docs/images/*
pugixml-1.6/docs/*.html
win7/Debug/*
win7/openLSNS.suo
